*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#55CCD3, #C7DAC7, #FFB68D, #FE8D7B, #FE6786);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  min-height: 300px;
  margin: 50px auto;
  padding: 20px;
  
}

.form-container {
  float: left;
  background-color: rgba(65, 65, 65, 0.618);
  padding: 5%;
  padding-top: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px #000;
}
.form-container h1 {
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-div {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.form-div span, .total-container span {
  width: 100px;
  float: left;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 7px;
}

.form-div input {
  float: left;
  width: 100%;
  height: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color:#ffffff;
}

.total-container {
  float:right;
  margin-top: 40px;
}
.total-container span {
  float: left;
  width: 20px;
  font-size: 25px;
}

#total {
  float: left;
  height: 40px;
  width: 100px;
  background-color: #DFDDE0;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

#button-bt, #clear-bt {
  margin-left: 10px;
  float: left;
  height: 40px;
  background-color: #55CCD3;
  border: none;
  width: 100px;
  padding: 10px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 20px;
}


#error-container {
  float: left;
}

#error {
  clear: both;
  margin-top: 20px;
  float: left;
}
@media screen and (max-width:360px) {
  #clear-bt{
    display:none;
  }
  .form-container h1{
    font-size: 20px;
  }
}